<div class="main">
    <div class="welcome">
        <div class="row">
            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>

            <div class="col-lg-6 rightcoloumn">
                <div class="distrbtr-welcome">
                    <mat-icon class="leftArrw" (click)="navigateBackArrow()">keyboard_backspace</mat-icon>
                    <div class="container">
                        <p class="login">Welcome <span>👋</span></p>
                        <p class="wlcm-insurfin">Enter your email to proceed</p>
                        <form [formGroup]="loginPasswordForm">
                            <!-- email Page -->
                            <!-- <div class="emailPage" *ngIf="emailpage">
                            <div class="section">
                                <label class="password-label">Email</label>
                                <input type="text" class="form-control password-input"
                                    placeholder="Enter email ID" formControlName="email"
                                    minlength="8">
                                <small
                                    *ngIf="(loginPasswordForm.controls['email'].touched  && loginPasswordForm.get('email')?.hasError('required'))"
                                    style="color: red;">Email is required
                                </small>
                                <small
                                    *ngIf="(loginPasswordForm.controls['email'].touched  && loginPasswordForm.get('email')?.hasError('pattern'))"
                                    style="color: red;">Enter valid email
                                </small>
                            </div>
                            <div class="personal-detls mt-5">
                                <button class="btn btn-primary Login-btn"
                                     (click)="continueBtn()"  [disabled]="!loginPasswordForm.controls['email'].valid">Continue</button>

                                     <p class="setupText  mt-3">New User? <span class="setupPsMsg" (click)="setupPassword()">Set up password</span></p>
                            </div>
                        </div> -->
                           <!-- email and password page  -->
                           <div class="loginWithEmail">
                            <div class="section" >
                                <label class="password-label">Email</label>
                                <input type="text" class="form-control password-input"
                                    placeholder="Enter Email ID" formControlName="email"
                                    minlength="8">
                                <small
                                    *ngIf="(loginPasswordForm.controls['email'].touched  && loginPasswordForm.get('email')?.hasError('required'))"
                                    style="color: red;">Email is required
                                </small>
                                <small
                                    *ngIf="(loginPasswordForm.controls['email'].touched  && loginPasswordForm.get('email')?.hasError('pattern'))"
                                    style="color: red;">Enter valid email
                                </small>
                                <small style="color: red;" *ngIf="EmailerrorMessage">{{EmailerrorMessage}}</small>
                            </div>

                            <div class="section" *ngIf="emailCheck">
                                <label class="password-label">Password</label>
                                <input type="{{ showPassword ? 'password' : 'text' }}" class="form-control password-input" placeholder="Enter Password"
                                    formControlName="password" (input)="clearErrorMessage()">
                                    <button class="password-toggle-btn" (click)="PasswordVisibility()">
                                        <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                    </button>
                                    <p *ngIf="message"  style="color:red">{{message}}</p>
                                <small
                                    *ngIf="(loginPasswordForm.controls['password'].touched  && loginPasswordForm.get('password')?.hasError('required'))"
                                    style="color: red;"></small>
                                    <p  class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
                            </div>
                            <p class="forgot-password" (click)="forgotPassword()" *ngIf="emailCheck">Forgot Password?</p>
                            <div class="personal-detls mt-5">
                                <button class="btn btn-primary Login-btn"
                                    [disabled]="!loginPasswordForm.controls['email'].valid || BtnDisable" (click)="EmailValidation()" *ngIf="!emailCheck">Continue</button>
                                <button class="btn btn-primary Login-btn"
                                    [disabled]="!loginPasswordForm.valid || BtnDisable" (click)="logIn()" *ngIf="emailCheck">Continue</button>
                                   <div class="text-center mt-2" *ngIf="setupPwsText">New user? <span class="set-password" (click)="setupFlow()">Setup Password</span></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>