.main {
  overflow: hidden;
}

.welcome-main {
  color: #005AAA;
  margin-top: 14%;
  font-size: 32px;
  font-weight: 700;
}

.rightcoloumn {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
}

.distrbtr-welcome {
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 393px;
  height: 692px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  background-color: #ffffff;
}

.login {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #005AAA;
  margin-top: 170px;
}

.wlcm-insurfin {
  font-weight: 400;
  font-size: 16px;
  color: #7D848D;
}

.section {
  margin-top: 25px;
}

.password-label {
  font-weight: 400;
  color: #7D848D;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.password-input {
  width: 345px;
  height: 46px;
  font-size: 14px;
  top: 22px;
  border-radius: 12px;
}

.forgot-password {
  float: right;
  font-weight: 700;
  font-size: 16px;
  color: #2791E0;
  margin-top: 10px;
  margin-right: 7px;
  cursor: pointer;
}
.set-password{
  font-weight: 700;
  font-size: 16px;
  color: #2791E0;
  margin-top: 10px;
  margin-right: 7px;
  cursor: pointer;
}
.Login-btn {
  width: 345px;
  height: 52px;
  background: #005AAA;
  box-shadow: inset 0px 0px 10px 6px rgba(0, 90, 170, 0.02);
  border-radius: 12px;
  margin-top: 18%;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

button.Login-btn[disabled] {
  background: #C8DCEE;
  border: 1px solid #C8DCEE;
}

button.verification-btn[disabled] {
  background: #C8DCEE;
  border: 1px solid #C8DCEE;
}


.form-control {
  outline: none;
  box-shadow: none !important;
}
.setupPsMsg{
  color: #005AA9;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.07px;
  cursor: pointer;
}
.setupText{
  color: #7D848D;
font-size: 12px;
font-weight: 400;
text-align: center;
letter-spacing: 0.07px;
}
.leftArrw {
  padding: 20px;
  cursor: pointer;
}
.password-toggle-btn {
    position: relative;
    border: none;
    float: right;
    background: none;
    cursor: pointer;
    right: 18px;
    bottom: 33px;
    cursor: pointer;
}

.password-toggle-btn:focus {
  outline: none;
}

.password-toggle-btn i {
  font-size: 16px;
  color: #C6C6C6;
}