<div class="main">
        <div class="row">
            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>   

            <div class="col-lg-6 rightColoumn" >
                <div class="distrbtr-welcome">
                    <div class="container mt-3 welcome-img">
                        <img src="../../assets/welcome-img.svg" width="250px" height="250px">
                    </div>

                    <div class="container">
                        <p class="welcome">Welcome to Insurfin!</p>
                        <p class="more-details">Before we take you to your proposals and policies, please verify your details provided by your distributor. </p>

                    </div>
                    <div class="container">
                        <button class="btn btn-primary continue-btn" (click)="customerDetails()">Continue</button>
                    </div>

                </div>
            </div>
        </div>
</div>