.rightcoloumn {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
}

.distrbtr-welcome {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    height: 692px;
    width: 393px;
    margin-top: 5%;
    background-color: #ffffff;
    margin-bottom: 5%;
}

.main {
    overflow: hidden;
}

.reset-password {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #005AAA;
    margin-left: 27px;
    margin-top: 300px;
}

.change-password {
    margin-left: 29px;
    color: #7D848D;
    font-size: 16px;
    font-weight: 400;
}
.otp-password{
    margin-left: 18px;
    color: #7D848D;
    font-size: 16px;
    font-weight: 400;
}
.mobile-number{
    color: #7D848D;
    font-size: 12px;
    font-weight: 400;
    margin-left: 27px;
}
.resetPassword{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #005AAA;
    margin-left: 16px;
    margin-top: 300px;
}

.email-id {
    margin-left: 24px;
    color: #7D848D;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
}

.emailinput {
    width: 345px;
    margin-left: 21px;
    height: 42px;
    border-radius: 12px;
}

.emailinput::placeholder {
    color: #C6C6C6;
    font-size: 16px;
    font-weight: 400;
}

.form-control {
    outline: none;
    box-shadow: none !important;
}

.reset-overall {
    margin-top: 34px;
}

.verification-btn {
    width: 345px;
    height: 52px;
    margin-left: 24px;
    background: #005AAA;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 90, 170, 0.02);
    border-radius: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

.get-code {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    color: #8B8F9C;
    margin-left: 20px;
}

.send-again {
    color: #2791E0;
    cursor: pointer;
    font-weight: 700;
}

.otpclss {
    margin-left: 12px;
}

input.ng-touched.ng-invalid {
    border: 1.5px solid red;
    margin-bottom: 8px;
}

input.ng-touched.ng-valid {
    border: 1.5px solid #C8DCEE;
    margin-bottom: 8px;
}

::ng-deep.ngx-otp-input {
    background: rgba(237, 244, 251, 0.5);
    border: 1px solid #005AAA !important;
    border-radius: 12px !important;
    width: 49px !important;
    height: 52px !important;
}

.continue-btn {
    width: 345px;
    border-radius: 12px;
    height: 48px;
    background-color: #005AAA;
    margin-left: 10px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;

}

button.btn[disabled] {
    background: #C8DCEE;
    border: 1px solid #C8DCEE;
}
.input-wrapper {
    position: relative;
  }

  .input-wrapper input[type="tel"] {
   padding-left: 38px;
    /* adjust the padding to make room for the icon */
  }

  .input-wrapper span {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    color: #7D848D;
    font-size: 16px;
  }
  .inpPhn {
    width: 345px;
    margin-left: 21px;
    height: 42px;
    border-radius: 12px;
}

.inpPhn::placeholder {
    color: #C6C6C6;
    font-size: 16px;
    font-weight: 400;
}

input.ng-touched.ng-invalid {
    border: 1.5px solid red;
    margin-bottom: 8px;
}

input.ng-touched.ng-valid {
    border: 1.5px solid #C8DCEE;
    margin-bottom: 8px;
}
.error-msg{
    color: red;
    margin-left: 27px;
}
.send-code{
    width: 345px;
    height: 45px;
    margin-top: 64px;
    margin-left: 25px;
    background-color: #005AAA;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
.leftArrw{
    cursor:pointer;
    margin-left:5%;
    margin-top:10%;
}