<div class="main">
    <div class="welcome">
        <div class="row">
            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>

            <div class="col-lg-6 rightcoloumn">
                <div class="distrbtr-welcome">
                    <div *ngIf="verifycode container">
                        <mat-icon *ngIf="loginNav" class="leftArrw" (click)="OnBackArrow()">keyboard_backspace</mat-icon>
                        <mat-icon *ngIf="!loginNav" class="leftArrw" (click)="OnBackArroww()">keyboard_backspace</mat-icon>
                        <p class="reset-password">Reset Password</p>
                        <p class="change-password" >Please enter your registered phone number below in order to change your
                            password.
                        </p>
                        <form [formGroup]="resetPasswordForm">
                            <label class="mobile-number mt-3">Mobile Number</label>
                            <div class="input-wrapper">
                                <input type="tel" class="form-control inpPhn" formControlName="phoneNum"
                                    placeholder="Enter your Mobile Number" #input
                                    maxlength="10">
                                <span>{{ input.value && isNumber(input.value) ? '+91 ' : '' }}</span>
                            </div>
                            <small
                                *ngIf="(resetPasswordForm.controls['phoneNum'].touched   && resetPasswordForm.get('phoneNum')?.hasError('required'))"
                               class="error-msg"> phone number is Required</small>
                            <small
                                *ngIf="(resetPasswordForm.controls['phoneNum'].touched  && resetPasswordForm.get('phoneNum')?.hasError('pattern'))"
                                class="error-msg"> Enter Valid phone number</small>
                                <p *ngIf="errormessage" class="text-danger">{{errormessage}}</p>
                            <div class="mt-3">
                                <button class="btn btn-primary send-code" (click)="continueBtn()"
                                    [disabled]="!resetPasswordForm.valid">Send Verification Code</button>
                            </div>
                        </form>
                    </div>
                    
                    <div *ngIf="!verifycode" class="container">
                        <p class="resetPassword" >Reset Password</p>
                        <p class="otp-password">We’ve sent an OTP to your registered Phone Number.
                            The code will be valid for 15 minutes.
                        </p>
                        <span class="get-code">Didn't get the code? </span>
                            <span class="send-again" (click)="sendAgain()">Send again</span>
                       
                        <div class="otpclss mt-5 container">
                            <ngx-otp-input [config]="otpInputConfig" (otpChange)="Otphandle($event)"
                                (fill)="fillhandle($event)"
                                [ngStyle]="{'border':message ==='true'? '1 px solid red':''}">
                            </ngx-otp-input>
                            <p *ngIf="errorOtp" class="text-danger">{{errorOtp}}</p>
                        </div>
                        <div class="mt-5 container"> 
                            <button class="btn btn-primary continue-btn container " [disabled]="!otpfill" (click)="otpvalid()">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>