.rightColoumn {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
    background: linear-gradient(270deg, #EEF5FC 0%, #C3D9ED 100%);
  }
  
  .distrbtr-welcome {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    width: 393px;
    height: 692px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #FFFFFF;
  }
  .password-success{
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    width: 393px;
    height: 692px;
    margin-top: 5%;
    background: linear-gradient(180deg, #EEF6FD -13.97%, #EDF4FB 113.2%);
  }
  

  .login-btn {
    background: #005AAA;
    box-shadow: inset 0px 0px 10px 6px rgb(0 90 170 / 2%);
    border-radius: 14px;
    width: 345px;
    margin-top: 33%;
    margin-left: 15px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .main {
    overflow: hidden;
  }
  
  .tag {
    margin-top: 210px;
    margin-left: 24px
  }
  
  .tag h1 {
    color: #005AAA;
    font-weight: 700;
    size: 32px;
  }
  .skipNow{
    color: #005AAA;
    text-align: center;
    text-decoration: underline;
    cursor:pointer;
  }
  
  .tag span {
    width: 296px;
    margin-top: -10px;
    font-weight: 400;
    font-size: 16px;
    color: #7D848D;
  }
  
  .password-input {
    width: 345px;
    height: 42px;
    font-size: 14px;
    top: 22px;
    border-radius: 12px;
  }
  
  .password-label {
    font-weight: 400;
    color: #7D848D;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .password-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #C6C6C6;
  }
  
  .form-control {
    outline: none;
    box-shadow: none !important;
  }
  
  .section {
    margin-top: 18px;
    margin-left: 24px;
  }
  
  .create-btn {
    width: 345px;
    height: 48px;
    margin-left: 24px;
    background: #005AAA;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 90, 170, 0.02);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  
  button.btn[disabled] {
    background-color: #C8DCEE;
    border: 1px solid #C8DCEE;
    font-weight: 700;
  }
  
  .success {
    font-weight: 700;
    margin-top: 33px;
    margin-left: 17px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #005AAA;
  }
  .password {
    font-size: 16px;
    margin-left: 18px;
    font-weight: 400;
    color: #7D848D;
    width: 360px;
  
  }
  small{
    margin-left: 10px;
  }
  .password-input-wrapper {
    position: relative;
  }
  
  .password-toggle-btn {
    position: absolute;
    top: 11px;
    right: 30px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .password-toggle-btn:focus {
    outline: none;
  }
  
  .password-toggle-btn i {
    font-size: 16px;
    color: #C6C6C6;
  }
  .loginInstead{
    color: #2791E0;
text-align: center;
font-weight: 700;
cursor: pointer;
  }
  .password-set-up-img{
    width: 230px;
    height: 230px;
    margin-left: 19%;
  }
  .errormsg{
    color: red;
  }