<div class="main">
    <div class="welcome">
        <div class="row">

            <div class="col-lg-6 p-0">
                <app-side-nav-section />
            </div>

            <div class="col-lg-6 rightColoumn" >
                <div class="distrbtr-welcome">
                    <div class="tag">
                        <h1>Set up password</h1>
                        <!-- <span>The password must be 8 to 15 characters and should have atleast 1 number and 1 letter.
                        </span> -->
                    </div>
                    <form [formGroup]="SetupFormgroup">
                        <div class="section">
                            <label class="password-label">Email</label>
                            <div class="password-input-wrapper">
                                <input type="email" formControlName="email" class="form-control password-input"
                                placeholder="Enter your Email">
                            <small
                                *ngIf="(SetupFormgroup.controls['email'].touched   && SetupFormgroup.get('email')?.hasError('required'))"
                                style="color: red; margin-left: 27px;"> Email is Required</small>
                            <small
                                *ngIf="(SetupFormgroup.controls['email'].touched   && SetupFormgroup.get('email')?.hasError('pattern'))"
                                style="color: red; margin-left: 27px;"> Enter valid Email</small>
                               
                            </div>
                            
                            <!-- The password must be between 8 and 15 characters and include at least one digit and one uppercase letter -->
                        </div>
                        <div class="section">
                            <label class="password-label">Password</label>
                            <div class="password-input-wrapper">
                                <input type="{{ hidePassword ? 'password' : 'text' }}"
                                    class="form-control password-input" placeholder="Enter password"
                                    formControlName="enterpassword" maxlength="15" minlength="8">
                                <button class="password-toggle-btn" (click)="togglePasswordVisibility()">
                                    <i class="{{ hidePassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                </button>
                            </div>
                            <small *ngIf="SetupFormgroup.controls['enterpassword'].touched && 
                            (SetupFormgroup.get('enterpassword')?.hasError('required') || 
                            SetupFormgroup.get('enterpassword')?.hasError('invalidPassword'))" style="color: red;">
                                {{ SetupFormgroup.get('enterpassword')?.hasError('required') ? 'Password is required' :
                                'Password does not match the criteria'}}
                            </small>
                            <!-- The password must be between 8 and 15 characters and include at least one digit and one uppercase letter -->
                        </div>

                        <div class="section">
                            <label class="password-label">Re-enter password</label>
                            <div class="password-input-wrapper">
                                <input type="{{ showPassword ? 'password' : 'text' }}"
                                    class="form-control password-input" placeholder="Re-enter password"
                                    formControlName="repassword" maxlength="15" minlength="8">
                                <button class="password-toggle-btn" (click)="PasswordVisibility()">
                                    <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                                </button>
                            </div>
                            <small
                                *ngIf="(SetupFormgroup.controls['repassword'].touched  && SetupFormgroup.get('repassword')?.hasError('misMatch'))"
                                style="color: red;">Password Must Match</small>
                        </div>
                    </form>
                    <div class="personal-detls mt-5">
                        <!-- <p class="loginInstead" (click)="loginMobile()">Login with mobile instead</p> -->
                        <p class="errormsg">{{errorMsg}}</p>
                        <button class="btn btn-primary create-btn" (click)="setUpPassword()"
                            [disabled]="!SetupFormgroup.valid">Set up password</button>
                            <p class="skipNow mt-3" (click)="skipFunction()" *ngIf="skipText"><b>Skip now</b></p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6 rightColoumn" *ngIf="!setup">
                <div class="password-success">

                    <div class="container mt-5">
                        <img class="password-set-up-img" src="../../assets/password-set-up-img.svg">
                    </div>

                    <div class="container">
                        <p class="success">Password set up!</p>
                        <p class="password">Please review the terms and conditions next to continue moving ahead</p>
                        <button class="btn btn-primary login-btn" (click)="loginNavigate()">Continue</button>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</div>
