<div class="dialog">
    <div class="container flex">
        <mat-icon class="error">error_outline</mat-icon>
        <p class="re-check">Please re-check</p>
        <mat-icon mat-dialog-close class="cross">close</mat-icon>
    </div>
    <p class="distributor-num">We don't have details associated with this number.
         Please enter the number given to your
        distributor. </p>
    <div class="container mt-4 mb-4">
        <button class="edit" (click)="editPhoneNumber()">Edit</button>
    </div>
</div>